.cm-mian {
  margin-top: 4rem;
}
.index-new .cml-g > div {
  padding: 0px;
 }
 .cml-g {
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
}
.am-u-sm-3 {
    width: 25%;
  }
.am-u-md-3 {
    width: 25%;
  }
  .am-u-lg-3 {
    width: 25%;
  }
  .cm-type li {
  background: -o-linear-gradient(top, #fefefe, #cecece);
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fefefe), to(#cecece));
  padding: 0.8rem 1rem;
  border-bottom: 1px solid #bebebe;
  border-top: 1px solid #e2e2e2;
  border-left: 1px solid #b7b7b7;
  border-right: 1px solid #b7b7b7;
  border-radius: 3px;
  color: #888;
}
.cm-type li:hover a {
  color: #dd4901;
}
.cm-type li.on {
  background: #24ae44;
}
.cm-type li.on a {
  color: #fff;
}
.am-u-sm-9 {
    width: 75%;
  }
  .am-u-md-9 {
    width: 75%;
  }
  .am-u-lg-9 {
    width: 75%;
  }
  .cm-title {
  background: -o-linear-gradient(top, #c9c9c9, #f8f8f8);
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#c9c9c9), to(#f8f8f8));
  border-top: 1px solid #bebcbc;
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
  -webkit-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 0.8rem 1rem;
  color: #24ae44;
}
.cm-title-nav {
  color: #666;
}
.cm-title-nav span {
  padding: 0 0.3rem;
  font-size: 1.5rem;
}
.cm-title > a {
  float: right;
  color: #a0a0a0;
  text-shadow: 0px 1px 0px #dedede;
  margin-right: 0.3rem;
}
.cm-title > a i {
  font-size: 2rem;
  float: right;
  margin-top: -0.1rem;
}
.cm-title em {
  text-shadow: 0px 1px 0px #6bbe7b;
}
.cm-content {
  padding: 2rem 1.5rem;
  border: 1px solid #d8d8d8;
  margin-top: 1rem;
  border-radius: 3px;
  color: #666;
  overflow: hidden;
}
.cm-content img {
  width: 100%;