
.aaaaa {
  margin-top: 4rem;
}
.index-new .bbbbb > div {
  padding: 0px;
  float: left;
 }
 .bbbbb {
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
}
/* .ccccc {
    width: 25;
  }
.ddddd {
    width: 25%;
  }
  .eeeee {
    width: 25%;
  } */
  .menu {width: 200px;float: left;}
  .main{width: 75%; margin-left: 220px;}
  .fffff li {
  background: -o-linear-gradient(top, #fefefe, #cecece);
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#9c9da7), to(#cecece));
  padding: 0.8rem 1rem;
  border-bottom: 1px solid #bebebe;
  border-top: 1px solid #e2e2e2;
  border-left: 1px solid #b7b7b7;
  border-right: 1px solid #b7b7b7;
  border-radius: 3px;
  color: #fff;
}
.fffff li:hover a {
  color: #dd4901;
}
.fffff li.on {
  background: #24ae44;
}
.fffff li.on a {
  color: #fff;
}
/* .ggggg {
    width: 75%;
  }
  .hhhhh {
    width: 75%;
  }
  .iiiii {
    width: 75%;
  } */
  .jjjjj {
  background: -o-linear-gradient(top, #c9c9c9, #f8f8f8);
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#c9c9c9), to(#f8f8f8));
  border-top: 1px solid #bebcbc;
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
  -webkit-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 0.8rem 1rem;
  color: #24ae44;
}

.jjjjj > a {
  float: right;
  color: #a0a0a0;
  text-shadow: 0px 1px 0px #dedede;
  margin-right: 0.3rem;
}
.jjjjj > a i {
  font-size: 2rem;
  float: right;
  margin-top: -0.1rem;
}
.jjjjj em {
  text-shadow: 0px 1px 0px #6bbe7b;
}
.kkkkk {
  color: #666;
}
.kkkkk span {
  padding: 0 0.3rem;
  font-size: 1.5rem;
}
.lllll {
  padding: 2rem 1.5rem;
  border: 1px solid #d8d8d8;
  margin-top: 1rem;
  border-radius: 3px;
  color: #666;
  overflow: hidden;
}
.lllll img {
  width: 100%;
}
.zz{
width:200px;
float:left 
}